#Будут игнорироваться каталог tmp
tmp/

#Игнорирование файлов, заканчивающихся на суфикс _old
*.*_old

#Игнорирование файлов, заканчивающихся на суфикс _old
*_backup.*

#Игнорирование файла Thumbs.db
Thumbs.db

#Игнорирование файла .DS_Store
.DS_Store